.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #868282;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar__title {
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar__menu {
    display: flex;
    gap: 20px;
}

.navbar__link {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    transition: background-color 0.2s;

    &:hover {
        background-color: #e9e9e9;
        border-radius: 5px;
    }
}
